# Dependencies
/dependencies/benchmark
/dependencies/opensim

# Build
/build

# clangd
.cache/clangd/index

# doit
config.yaml
.doit.*

# pycache
__pycache__/

# Ignore all subdirectories under models/, but don't ignore 
# the models/ directory itself.
models/*/

# Results
/results
/figures