# VSCode
.vscode/

# Dependencies
/dependencies/benchmark
/dependencies/opensim

# Build
/build

# clangd
.cache/clangd/index

# doit
config.yaml
.doit.*

# pycache
__pycache__/

# Models
/models

# Results
/results
/figures

# MuJoCo
MUJOCO_LOG.txt